.venv/
wandb/
bert-base-uncased-reduced/
.ipynb_checkpoints/
__pycache__/
test*
data/
nohup.out
all-mpnet-base-v2-reduced/
all-mpnet-base-v2-compressed/
all-mpnet-base-v2-compressed-umap/
mpnet-base-nli-matryoshka-reduced/
gte-Qwen1.5-7B-instruct-reduced/
results/
